<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.blog.mapper.CategoryMapper">


    <insert id="insertCategory">
        insert into gcc_web_blog.category
            (topic, parentId, topicLevel)
        values
            (#{topic}, #{parentId}, #{topicLevel});
    </insert>

    <update id="updateCategory">
        update gcc_web_blog.category
        set topic = #{topic},
            parentId = #{parentId},
            topicLevel = #{topicLevel}
        where
            id = #{id};
    </update>

    <delete id="deleteCategory">
        delete from
        gcc_web_blog.category
        where id = #{id};
    </delete>

    <select id="selectCategory" resultType="com.web.blog.pojo.Category">
        SELECT * FROM gcc_web_blog.category;
    </select>

    <select id="selectOne" resultType="string">
        SELECT topic FROM gcc_web_blog.category where id = #{id};
    </select>

    <select id="selectLevel" resultType="com.web.blog.pojo.Category">
        SELECT * FROM gcc_web_blog.category where topicLevel = #{level};
    </select>

    <select id="selectByTopic" resultType="integer">
        SELECT count(*) FROM gcc_web_blog.category where topic = #{topic};
    </select>

    <select id="SelectByParentId" resultType="com.web.blog.pojo.Category">
        SELECT * FROM gcc_web_blog.category where parentId = #{parentId};
    </select>

    <select id="selectById" resultType="com.web.blog.pojo.Category">
        SELECT * FROM gcc_web_blog.category where id = #{id};
    </select>
</mapper>