<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.blog.mapper.UserMapper">

    <select id="selectOne" resultType="com.web.blog.pojo.User">
        SELECT * FROM gcc_web_blog.user where username = #{username} and password = #{password};
    </select>

    <insert id="insertUser">
        insert into gcc_web_blog.user
            (username, password, nickname, email)
        values
            (#{username}, #{password}, #{nickname}, #{email});
    </insert>

    <update id="updatePassword">
        update gcc_web_blog.user
        set password = #{password}
        where
            id = #{id};
    </update>

    <update id="disableUser">
        update gcc_web_blog.user
        set enable = 0
        where
            id = #{id};
    </update>

    <update id="enableUser">
        update gcc_web_blog.user
        set enable = 1
        where
            id = #{id};
    </update>
</mapper>