<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.blog.mapper.UserMapper">

    <select id="selectOne" resultType="com.web.blog.pojo.User">
        SELECT * FROM gcc_web_blog.user where username = #{username} and password = #{password};
    </select>
    <select id="selectUsername" resultType="com.web.blog.pojo.User">
        SELECT count(*) FROM gcc_web_blog.user where username = #{username};
    </select>
    <select id="checkPassword" resultType="com.web.blog.pojo.User">
        SELECT * FROM gcc_web_blog.user where  id= #{id} and password = #{password};
    </select>

    <select id="selectUsernameAndNickname" resultType="com.web.blog.pojo.User">
        SELECT username,nickname FROM gcc_web_blog.user where id = #{userId};
    </select>

    <insert id="insertUser">
        insert into gcc_web_blog.user
            (username, password, nickname, email)
        values
            (#{username}, #{password}, #{nickname}, #{email});
    </insert>

    <update id="updatePassword">
        update gcc_web_blog.user
        set password = #{password}
        where
            id = #{id};
    </update>

    <update id="updateUserInfo">
        update gcc_web_blog.user
        set nickname = #{nickname},
            email = #{email}
        where
            id = #{id};
    </update>

    <update id="disableUser">
        update gcc_web_blog.user
        set enable = 0
        where
            id = #{id};
    </update>

    <update id="enableUser">
        update gcc_web_blog.user
        set enable = 1
        where
            id = #{id};
    </update>

    <select id="selectAllUser" resultType="com.web.blog.pojo.User">
        SELECT * FROM gcc_web_blog.user;
    </select>
    <select id="selectUser" resultType="com.web.blog.pojo.User">
        SELECT * FROM gcc_web_blog.user where id = #{id};
    </select>

    <update id="updateVisitor">
        update gcc_web_blog.visitor
        set visitor = visitor+1
        where
            userID = #{userID} and ymd = #{ymd};
    </update>

    <select id="selectVisitor" resultType="com.web.blog.pojo.Visitor">
        SELECT * FROM gcc_web_blog.visitor where userID = #{userID} and ymd = #{ymd};
    </select>

    <insert id="insertVisitor">
        insert into gcc_web_blog.visitor
            (userID, ymd)
        values
            (#{userID}, #{ymd});
    </insert>

    <select id="selectUserVisitor" resultType="int">
        SELECT visitor FROM gcc_web_blog.visitor where userID = #{userID} and ymd = #{ymd};
    </select>
    <select id="selectAllVisitor" resultType="object">
        SELECT sum(visitor) FROM gcc_web_blog.visitor where ymd = #{ymd};
    </select>
    <select id="selectALLDayUserVisitor" resultType="com.web.blog.pojo.Visitor">
        SELECT * FROM gcc_web_blog.visitor where userID = #{userID} ORDER BY ymd desc;
    </select>

</mapper>